body {
  width: 400px;
  font-family: "Open Sans", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 14px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
  font-weight: 600;
}
